*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Tahoma';
}
.wrapper{
    width: 900px;
    margin: 15px auto;
    padding: 10px;
    background-color: #e9e9e9;
    border: 2px solid gray;
    border-radius: 5px;
    overflow: hidden;
}

.image{
    float: left;
    margin: 10px;
}

.galleries:after{
    content: '';
    clear: both;
}